Repository awslabs/osml-data-intake: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: bash -c 'cd cdk && npx eslint . --ext .ts,.tsx,.js,.jsx --fix --ignore-pattern "cdk.out/**"'
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd cdk && npx prettier --write .'
  language: system

feat: add CFN output for lambda STAC API arn
  cdk/lib/data-catalog-stack.ts
Due: eslint, prettier

ci: Implement slack notification for nightly build failures
  .github/workflows/build-test-destroy.yml
  .github/workflows/slack-norify-pr.yml
  .github/workflows/slack-notify-nightly-failure.yml
Due: none

geojson to stac sync
  cdk/lib/constructs/data-catalog/dataplane.ts
  cdk/lib/constructs/data-catalog/intake-function.ts
  cdk/lib/constructs/data-catalog/intake-role.ts
  cdk/lib/constructs/integration-test/test-role.ts
  cdk/package-lock.json
  docker/Dockerfile.intake
  docker/Dockerfile.integration-test
  src/aws/osml/data_intake/geojson_processor.py
  src/aws/osml/data_intake/image_processor.py
  src/aws/osml/data_intake/intake_handler.py
  src/aws/osml/data_intake/managers/s3_manager.py
  src/aws/osml/data_intake/processor_base.py
  src/aws/osml/data_intake/stac_utils.py
  test/aws/osml/data_intake/test_geojson_processor.py
  test/aws/osml/data_intake/test_image_processor.py
  test/aws/osml/data_intake/test_intake_handler.py
  test/aws/osml/data_intake/test_processor_base.py
  test/aws/osml/data_intake/test_stac_utils.py
  test/data/feature_collection.geojson
  test/integ/geojson_test.py
  test/integ/handler.py
  test/integ/image_test.py
  test/integ/integ_utils.py
  test/integ/test_integration.py
Due: eslint, prettier

test: Convert all unit tests to use pytest
  test/aws/osml/data_intake/conftest.py
  test/aws/osml/data_intake/managers/test_s3_manager.py
  test/aws/osml/data_intake/managers/test_sns_manager.py
  test/aws/osml/data_intake/test_bulk_processor.py
  test/aws/osml/data_intake/test_ingest_processor.py
  test/aws/osml/data_intake/utils/test_app_config.py
  test/aws/osml/data_intake/utils/test_logger.py
Due: none

chore: updating dependancies
  cdk/package-lock.json
  cdk/package.json
Due: prettier

ci: disable nightly build schedule
  .github/workflows/build-test-destroy.yml
Due: none

Path conditions:
  eslint: any of: ^cdk/.*\.(ts|tsx|js|jsx)$, but not: ^cdk/cdk\.out
  prettier: any of: ^cdk/.*\.(ts|tsx|js|jsx|json|yml|yaml|md)$, but not: ^cdk/cdk\.out
