Repository awslabs/osml-data-intake: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: bash -c 'cd cdk && npx eslint . --ext .ts,.tsx,.js,.jsx --fix --ignore-pattern "cdk.out/**"'
  language: system

prettier:
  name: prettier
  entry: bash -c 'cd cdk && npx prettier --write .'
  language: system

update docker logic and gitignore
  cdk/Dockerfile.tmp
  cdk/bin/deployment/load-deployment.ts
  cdk/lib/constructs/data-catalog/dc-dataplane.ts
  cdk/lib/constructs/data-catalog/dc-opensearch-domain.ts
  cdk/lib/constructs/data-catalog/roles/dc-lambda-role.ts
  cdk/lib/constructs/data-intake/di-dataplane.ts
  cdk/lib/constructs/data-intake/roles/di-lambda-role.ts
  cdk/lib/constructs/shared/osml-account.ts
  cdk/lib/constructs/shared/osml-container.ts
  cdk/lib/constructs/shared/osml-vpc.ts
  cdk/lib/constructs/shared/utils/base-config.ts
  cdk/lib/constructs/shared/utils/regional-config.ts
  cdk/lib/constructs/types.ts
  cdk/lib/data-catalog-stack.ts
  cdk/lib/data-intake-stack.ts
  cdk/lib/network-stack.ts
  cdk/test/data-intake-stack.test.ts
  cdk/test/test-utils.ts
Due: eslint, prettier

modify opensearch and more refactor tweaks
  cdk/lib/constructs/data-catalog/dc-opensearch-domain.ts
  cdk/package.json
Due: eslint, prettier

fix: update links in image stac items
  README.md
  src/aws/osml/data_intake/image_processor.py
Due: none

adding README
  cdk/README.md
Due: prettier

combining data catalog and intake
  cdk/README.md
  cdk/bin/app.ts
  cdk/bin/deployment/load-deployment.ts
  cdk/lib/constructs/data-catalog/dataplane.ts
  cdk/lib/constructs/data-catalog/ingest-function.ts
  cdk/lib/constructs/data-catalog/intake-function.ts
  cdk/lib/constructs/data-catalog/intake-role.ts
  cdk/lib/constructs/data-catalog/metadata-storage.ts
  cdk/lib/constructs/data-catalog/opensearch.ts
  cdk/lib/constructs/data-catalog/stac-api-gateway.ts
  cdk/lib/constructs/data-catalog/stac-function.ts
  cdk/lib/constructs/data-intake/dataplane.ts
  cdk/lib/constructs/data-intake/lambda-role.ts
  cdk/lib/data-catalog-stack.ts
  cdk/lib/data-intake-stack.ts
Due: eslint, prettier

collapsing construct logic
  bin/stream/retrieve_cli.py
  cdk/lib/constructs/data-catalog/dataplane.ts
  cdk/lib/constructs/data-catalog/ingest-function.ts
  cdk/lib/constructs/data-catalog/intake-function.ts
  cdk/lib/constructs/data-catalog/stac-function.ts
  cdk/lib/constructs/data-catalog/stac-role.ts
  src/aws/osml/data_intake/image_processor.py
Due: eslint, prettier

cleaning up log group creation
  cdk/lib/constructs/data-catalog/dataplane.ts
  cdk/lib/constructs/data-catalog/ingest-function.ts
  cdk/lib/constructs/data-catalog/intake-function.ts
  cdk/lib/constructs/data-catalog/stac-function.ts
  cdk/lib/data-catalog-stack.ts
Due: eslint, prettier

fixing stream_cli.py
  bin/stream/stream_cli.py
Due: none

feat: implementing integration tests
  .dockerignore
  README.md
  cdk/bin/app.ts
  cdk/bin/deployment/load-deployment.ts
  cdk/lib/constructs/integration-test/test-function.ts
  cdk/lib/constructs/integration-test/test-role.ts
  cdk/lib/integration-test-stack.ts
  docker/Dockerfile.integration-test
  pyproject.toml
  src/aws/osml/data_intake/ingest_processor.py
  test/integ/__init__.py
  test/integ/handler.py
  test/integ/test_integration.py
  tox.ini
Due: eslint, prettier

fix: remove broken notify workflow
  .github/workflows/notify.yml
Due: none

fix: Update workflows
  .github/actions/generate-deployment-json/action.yml
  .github/actions/setup-aws-oidc/action.yml
  .github/actions/setup-cdk/action.yml
  .github/actions/setup-python/action.yml
  .github/workflows/build-test-destroy.yml
  .github/workflows/build.yml
  .github/workflows/check-pending-workflow.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  .github/workflows/run-integration-tests.yml
  .github/workflows/tox.yml
  test/integ/requirements.txt
Due: none

fix: fixing log groups to properly clean up when deployments destroyed
  cdk/lib/constructs/data-catalog/intake-function.ts
Due: eslint, prettier

fix: fixing log groups to properly clean up when deployments destroyed
  cdk/cdk.json
  cdk/lib/constructs/data-catalog/dataplane.ts
  cdk/lib/constructs/data-catalog/network.ts
  cdk/lib/data-catalog-stack.ts
  cdk/lib/integration-test-stack.ts
Due: eslint, prettier

fix: remove VPC import logic from app.ts
  cdk/bin/app.ts
  cdk/bin/deployment/deployment.json.example
  cdk/bin/deployment/load-deployment.ts
Due: eslint, prettier

fix: updating log group creation for lambda fuctions
  cdk/lib/constructs/data-catalog/ingest-function.ts
  cdk/lib/constructs/data-catalog/intake-function.ts
  cdk/lib/constructs/data-catalog/stac-function.ts
Due: eslint, prettier

Ops: Simplify generate-deployment-json action
  .github/actions/generate-deployment-json/action.yml
  .github/workflows/deploy.yml
  .github/workflows/destroy.yml
  cdk/bin/deployment/deployment.json.example
Due: none

fix: updating old references to model runner to data-intake
  cdk/bin/deployment/load-deployment.ts
  cdk/lib/constructs/data-catalog/network.ts
Due: eslint, prettier

chore: Remove docker publishing workflow
  .github/workflows/build.yml
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

fix: align the network config with the other config conventions
  cdk/README.md
  cdk/bin/deployment/load-deployment.ts
  cdk/test/load-deployment.test.ts
Due: eslint, prettier

chore: Remove pypi publishing
  .github/workflows/pypi.yml
  .github/workflows/release.yml
Due: none

docs: update license Apache-2.0
  .pre-commit-config.yaml
  LICENSE
  NOTICE
  README.md
  cdk/README.md
  setup.cfg
Due: prettier

chore: updating deps
  cdk/cdk.json
  cdk/package-lock.json
  cdk/package.json
Due: prettier

feat: add CFN output for lambda STAC API arn
  cdk/lib/data-catalog-stack.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: ^cdk/.*\.(ts|tsx|js|jsx)$, but not: ^cdk/cdk\.out
  prettier: any of: ^cdk/.*\.(ts|tsx|js|jsx|json|yml|yaml|md)$, but not: ^cdk/cdk\.out
